html{
    /* font-size: 10px; */
    font-size: 62.5%;
    /* %makes website responsive */
}
.box1{
    font-size: 2rem;
}
/* rem=rootsize */
.text-content{
    font-size: 3rem;
    border: 1rem solid rebeccapurple;
    margin: 0.5rem;
    padding: 2rem;
}